# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Database
*.db
backend/data/


# ChromaDB
backend/app/chroma_db/

# Uploads
backend/app/uploads/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Node
node_modules/

# React
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/

# Docker
*.tar
