GOOGLE_API_KEY=your_gemini_api_key_here

MODEL_NAME=gemini-2.5-flash

TEMPERATURE=0

CHROMA_DB_PATH=app/chroma_db

KNOWLEDGE_BASE_PATH=../knowledge_base

UPLOAD_PATH=app/uploads/pdf
ADMIN_SECRET_KEY=your_admin_secret_key_here