fastapi
uvicorn[standard]

langchain
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-chroma
langchain-core
langchain-huggingface
sentence-transformers

google-generativeai

chromadb

pypdf

python-dotenv

pydantic
pydantic-settings

python-multipart

pytest
httpx
langchain-groq
